CUBEJS_DEV_MODE=true
CUBEJS_API_SECRET=shopstream_secret_key

CUBEJS_DB_TYPE=postgres
CUBEJS_DB_HOST=localhost
CUBEJS_DB_PORT=5432
CUBEJS_DB_NAME=shopstream_analytics
CUBEJS_DB_USER=postgres
CUBEJS_DB_PASS=your_postgres_password
CUBEJS_SCHEMA_PATH=schema
